<div class="main-body">
  <h1 class="box-title">Nhập kho</h1>
  <div class="main-content">
    <div class="row col-md-12">
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Tên sản phẩm</div>
            <div class="col-md-8 content">
              {{common/selectpicker-field fieldName="productIdSearch" type='select' tableName='Product' columnKey='ID' columnValue='ProductName'
                                          data-style='btn-common' data-live-search='true' changeset=changeset emptyOption='true'}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Từ ngày</div>
            <div class="col-md-8 content">
              {{common/selectpicker-field fieldName="productIdSearch2" type='select' tableName='Product' columnKey='ID' columnValue='ProductName'
                                          data-style='btn-common' data-live-search='true' changeset=changeset}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Đến ngày</div>
            <div class="col-md-8 content">
              {{common/selectpicker-field fieldName="productIdSearch3" type='select' tableName='Product' columnKey='ID' columnValue='ProductName'
                                          data-style='btn-common' data-live-search='true' changeset=changeset}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-button">
      <button class="btn btn-primary" {{action "search"}}><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
      <button class="btn btn-success" {{action "addCustomer"}}><i class="glyphicon glyphicon-plus"></i> Thêm mới</button>
    </div>
    <form id="storage-input-form">

      <div class="row">
        <div class="col-md-12">
          {{page-numbers content=pagedContent showFL=true}}
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
              <th>STT</th>
              <th>Ngày nhập</th>
              <th>Mã phiếu</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Đơn vị</th>
              <th>Giá nhập</th>
              <th>Thành tiền</th>
              <th>Hạn dùng</th>
              <th>Nhân viên nhập</th>
              <th>Ghi chú</th>
              <th>Sửa</th>
              </thead>
              <tbody>
              {{#each pagedContent as | item index|}}
                <tr>
                  <td>{{inc index}}</td>
                  <td>{{moment-format item.InputDate 'DD-MM-YYYY'}}</td>
                  <td>{{item.BillCode}}</td>
                  <td>{{item.ProductName}}</td>
                  <td>{{item.Quantity}}</td>
                  <td>{{item.UnitName}}</td>
                  <td>{{format-number item.InputPrice format="###,###"}}</td>
                  <td>{{format-number (calculate-rate item.InputPrice  item.Quantity) format="###,###"}}</td>
                  <td>{{moment-format item.ExpDate 'DD-MM-YYYY'}}</td>
                  <td>{{item.FULL_NAME}}</td>
                  <td>{{item.Note}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-title="Edit" {{action "editCountry" item}}><span class="glyphicon glyphicon-pencil"></span></button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
          {{page-numbers content=pagedContent showFL=true}}
        </div>
      </div>
    </form>
  </div>
</div>



<div class="modal fade" id="view-pdf" tabindex="-1" role="dialog" aria-labelledby="view-pdf" aria-hidden="true">
  <div class="modal-dialog  modal-lager">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title custom_align" id="Heading">Barcode</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <iframe src="{{pdfData}}" type="application/pdf" width="100%" height="500"></iframe>
      </div>

      <div class="modal-footer ">
        <button type="button" class="btn btn-success btn-lg" {{action "print"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> In mã vạch</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
