<div class="main-body">
  <h1 class="box-title">Nhập kho</h1>
  <div class="main-content">
    <div class="row col-md-12">
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Tên sản phẩm</div>
            <div class="col-md-8 content">
              {{common/selectpicker-field fieldName="productIdSearch" type='select' tableName='Product' columnKey='ID' columnValue='ProductName'
                                          data-style='btn-common' data-live-search='true' changeset=changeset emptyOption='true'}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Từ ngày</div>
            <div class="col-md-8 content">
              {{common/datetime-field fieldName="fromDate" changeset=changeset}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Đến ngày</div>
            <div class="col-md-8 content">
              {{common/datetime-field fieldName="toDate" changeset=changeset}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-button">
      <button class="btn btn-primary" {{action "search"}}><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
      <button class="btn btn-success" {{action "editBill"}}><i class="glyphicon glyphicon-plus"></i> Thêm mới</button>
    </div>
    <form id="storage-input-form">

      <div class="row">
        <div class="col-md-12">
          {{page-numbers content=pagedContent showFL=true}}
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
              <th>STT</th>
              <th>Ngày nhập</th>
              <th>Mã phiếu</th>
              <th>Tên sản phẩm</th>
              <th>Số lượng</th>
              <th>Đơn vị</th>
              <th>Giá nhập</th>
              <th>Thành tiền</th>
              <th>Hạn dùng</th>
              <th>Nhân viên nhập</th>
              <th>Ghi chú</th>
              <th>Sửa</th>
              </thead>
              <tbody>
              {{#each pagedContent as | item index|}}
                <tr>
                  <td>{{inc index}}</td>
                  <td>{{moment-format item.InputDate 'DD-MM-YYYY'}}</td>
                  <td>{{item.BillCode}}</td>
                  <td>{{item.ProductName}}</td>
                  <td>{{item.Quantity}}</td>
                  <td>{{item.UnitName}}</td>
                  <td>{{format-number item.InputPrice format="###,###"}}</td>
                  <td>{{format-number (calculate-rate item.InputPrice  item.Quantity) format="###,###"}}</td>
                  <td>{{moment-format item.ExpDate 'DD-MM-YYYY'}}</td>
                  <td>{{item.FULL_NAME}}</td>
                  <td>{{item.Note}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-title="Edit" {{action "editBill" item}}><span class="glyphicon glyphicon-pencil"></span></button>
                  </td>

                </tr>
              {{else}}
                <tr>
                  <td colspan="12" class="data-empty">Không tìm thấy dữ liệu</td>
                </tr>

              {{/each}}
              </tbody>
            </table>
          </div>
          {{page-numbers content=pagedContent showFL=true}}
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="inputStorageModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog modal-lager">
    <div class="modal-content">
      <form id="edit-staff-form">
        <div class="modal-header">

          <h4 class="modal-title custom_align" id="Heading">Phiếu nhập kho</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
          <div class="box-role">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Mã phiếu</div>
                      <div class="col-md-8 content">
                        {{common/text-field fieldName="billCode" changeset=changeset type='text' disabled=true}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Nguồn nhập</div>
                      <div class="col-md-8 content">
                        {{common/selectpicker-field fieldName="supplier" fieldValue=supplier type='select' tableName='Supplier' columnKey='ID' columnValue='SupplierName'
                                                    data-style='btn-common' data-live-search='true' changeset=changeset}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Ghi chú</div>
                      <div class="col-md-8 content">
                        {{common/text-field fieldName="note" changeset=changeset type='text'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Ngày nhập</div>
                      <div class="col-md-8 content">
                        {{common/datetime-field fieldName="inputDate" changeset=changeset}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box-role">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Sản phẩm</div>
                      <div class="col-md-8 content">
                        {{common/selectpicker-field fieldName="productId" fieldValue=supplier type='select' tableName='Product' columnKey='ID' columnValue='ProductName'
                                                    change-function="initProductInit" data-style='btn-common' data-live-search='true' changeset=changeset parent=this}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Số lượng</div>
                      <div class="col-md-8 content">
                        {{common/text-field fieldName="quantity" changeset=changeset type='text'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Hạn sử dụng</div>
                      <div class="col-md-8 content">
                        {{common/datetime-field fieldName="expDate" changeset=changeset}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Đơn vị</div>
                      <div class="col-md-8 content">
                        {{common/selectpicker-field fieldName="unitId" fieldValue=productUnit data-style='btn-common' data-live-search='true' content=productUnits changeset=changeset}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Giá nhập</div>
                      <div class="col-md-8 content">
                        {{common/text-field fieldName="inputPrice" changeset=changeset type='text'}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 title">Thành tiền</div>
                      <div class="col-md-8 content">
                        {{common/text-field fieldName="total" changeset=changeset type='text' disabled=true}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-button col-md-12" style="text-align: center;">
              <button class="btn btn-primary" {{action "addBillItem"}}><i class="glyphicon glyphicon-plus"></i> Thêm</button>
            </div>
          </div>
          <div class="row">
            <div class="table-add">
              <div class="table-responsive" style="height: auto;">
                <table class="table table-bordred table-striped">
                  <thead>
                  <th>STT</th>
                  <th>Sản phẩm</th>
                  <th>Đơn vị</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Thành tiền</th>
                  <th>Hạn sử dụng</th>
                  <th>Ghi chú</th>
                  <th>Xóa</th>
                  </thead>
                  <tbody>
                  {{#each billItems as | item index |}}
                    <tr>
                      <td>{{inc index}}</td>
                      <td>{{item.productName}}</td>
                      <td>{{item.productUnit}}</td>
                      <td>{{item.productPrice}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.totalPrice}}</td>
                      <td>{{item.expDate}}</td>
                      <td>{{item.note}}</td>
                      <td>
                        <button type="button" class="btn btn-danger btn-sm" data-title="Delete" {{action "deleteBillItem" index}}><span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                    {{else}}
                    <tr>
                      <td colspan="9" class="data-empty">Chưa thêm sản phẩm nào</td>
                    </tr>
                  {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer ">
          <button type="button" class="btn btn-success btn-lg" {{action "saveEditProduct"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Lưu</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
