<div class="main-body">
  <h1 class="box-title">Tạo mã vạch sản phẩm</h1>
  <div class="main-content">
    <div style="display: none;">
      {{common/bar-code value=barcode displayValue=false id="img1"  width=1 height=40 margin=15 marginBottom=1 marginTop=1}}
    </div>
    <div class="box-barcode">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 title">Sản phẩm</div>
              <div class="col-md-8 content">
                {{common/text-field fieldName="productCode" changeset=changeset type='text' disabled=true}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 title">Đơn vị</div>
              <div class="col-md-8 content">
                {{common/text-field fieldName="productName" changeset=changeset type='text'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="checkbox checkbox-primary">
                {{common/checkboxone-field fieldName="termConditionFlg" changeset=changeset label="Bao gồm giá" ckId="termConditionFlg"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="text-align: center;">
        {{common/bar-code value=barcode}}
      </div>
    </div>
    <div>
      <button class="btn btn-success" {{action "createPdf"}}><i class="glyphicon glyphicon-print"></i> In Mã vạch</button>
    </div>
  </div>
</div>



<div class="modal fade" id="view-pdf" tabindex="-1" role="dialog" aria-labelledby="view-pdf" aria-hidden="true">
  <div class="modal-dialog  modal-lager">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title custom_align" id="Heading">Barcode</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <iframe src="{{pdfData}}" type="application/pdf" width="100%" height="500"></iframe>
      </div>

      <div class="modal-footer ">
        <button type="button" class="btn btn-success btn-lg" {{action "print"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> In mã vạch</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
