<div class="main-body">
  <h1 class="box-title">Tạo mã vạch sản phẩm</h1>
  <div class="main-content">
    <div style="display: none;">
      {{common/bar-code value=barcode displayValue=false id="barcodeImg"  width=1 height=35 margin=15 marginBottom=1 marginTop=1}}
    </div>
    <div class="box-barcode">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 title">Sản phẩm <span class="required">*</span></div>
              <div class="col-md-8 content">
                {{common/selectpicker-field fieldName="productCode" type='select' tableName='Product' columnKey='ProductCode' columnValue='ProductName' parent=this
                  fieldValue=null change-function="initProductInit" data-style='btn-common' data-live-search='true' changeset=changeset}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 title">Đơn vị <span class="required">*</span></div>
              <div class="col-md-8 content">
                {{common/selectpicker-field fieldName="unitId" fieldValue=productUnit data-style='btn-common' data-live-search='true' content=productUnits changeset=changeset}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 title">Bao gồm giá <span class="required">*</span></div>
              <div class="col-md-8 content">
                {{common/selectpicker-field fieldName="priceChecked" fieldValue=0 name='YesOrNo' type='enum' data-style='btn-common' changeset=changeset}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="text-align: center;">
        {{common/bar-code value=barcode}}
      </div>
    </div>
    <div>
      <button class="btn btn-success" {{action "createPdf"}}><i class="glyphicon glyphicon-print"></i> In Mã vạch</button>
    </div>
  </div>
</div>



<div class="modal fade" id="view-pdf" tabindex="-1" role="dialog" aria-labelledby="view-pdf" aria-hidden="true">
  <div class="modal-dialog  modal-lager">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title custom_align" id="Heading">Barcode</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">
        <iframe src="{{pdfData}}" type="application/pdf" width="100%" height="500"></iframe>
      </div>

      <div class="modal-footer ">
        <button type="button" class="btn btn-success btn-lg" {{action "print"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> In mã vạch</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
