<div class="main-body">
  <h1 class="box-title">Thông tin sản phẩm</h1>
  <div class="main-content">
    {{#if successMsg}}
      <div class="alert alert-success">{{successMsg}}</div>
    {{/if}}
    {{#if errorMsg}}
      <div class="alert alert-danger">{{errorMsg}}</div>
    {{/if}}
    <div class="row col-md-12">
      <div class="col-md-4">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 title">Tên sản phẩm</div>
            <div class="col-md-8 content">
              {{common/selectpicker-field fieldName="productIdSearch" type='select' tableName='Product' columnKey='ID' columnValue='ProductName'
                                          data-style='btn-common' data-live-search='true' changeset=changeset emptyOption='true'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-button">
      <button class="btn btn-primary" {{action "search"}}><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
      <button class="btn btn-success" {{action "editProduct"}}><i class="glyphicon glyphicon-plus"></i> Thêm mới</button>
    </div>
    <form id="customer-form">

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
              <th>STT</th>
              <th>Tên SP</th>
              <th>Nhóm SP</th>
              <th>Nước SX</th>
              <th>Hãng SX</th>
              <th>Nhà cung cấp</th>
              <th>Giá nhập</th>
              <th>Thông tin</th>
              <th>Sửa</th>
              <th>Xóa</th>
              </thead>
              <tbody>
              {{#each resultSearch as | item index|}}
                <tr>
                  <td>{{inc index}}</td>
                  <td>{{item.ProductName}}</td>
                  <td>{{item.ProductGroup}}</td>
                  <td>{{item.CountryName}}</td>
                  <td>{{item.Producter}}</td>
                  <td>{{item.Supplier}}</td>
                  <td>{{format-number item.ImportPrice format="###,###"}}</td>
                  <td>{{item.Descriptions}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-title="Edit" {{action "editProduct" item}}><span class="glyphicon glyphicon-pencil"></span></button>
                  </td>
                  <td>
                    {{#if (lte item.Quantity 0)}}
                      <button type="button" class="btn btn-danger btn-sm" data-title="Delete" {{action "deleteProduct" item.ID}}><span class="glyphicon glyphicon-trash"></span></button>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog modal-lager">
    <div class="modal-content">
      <form id="edit-staff-form">
        <div class="modal-header">

          <h4 class="modal-title custom_align" id="Heading">{{editModalTitle}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 title">Mã SP</div>
                  <div class="col-md-8 content">
                    {{common/text-field fieldName="productCode" changeset=changeset type='text' disabled=true}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 title">Tên SP <span class="required">*</span></div>
                  <div class="col-md-8 content">
                    {{common/text-field fieldName="productName" changeset=changeset type='text'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 title">Nhà cung cấp</div>
                  <div class="col-md-8 content">
                    {{common/selectpicker-field fieldName="supplier" fieldValue=supplier type='select' tableName='Supplier' columnKey='ID' columnValue='SupplierName'
                                                data-style='btn-common' data-live-search='true' changeset=changeset}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 title">Nhóm SP</div>
                  <div class="col-md-8 content">
                    {{common/selectpicker-field fieldName="productGroup" fieldValue=productGroup type='select' tableName='ProductGroup' columnKey='ID' columnValue='ProductGroupName'
                                                data-style='btn-common' data-live-search='true' changeset=changeset}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 title">Nước SX</div>
                  <div class="col-md-8 content">
                    {{common/selectpicker-field fieldName="country" fieldValue=country type='select' tableName='Country' columnKey='ID' columnValue='CountryName'
                                                data-style='btn-common' data-live-search='true' changeset=changeset}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4 title">Hãng SX</div>
                  <div class="col-md-8 content">
                    {{common/selectpicker-field fieldName="producter" fieldValue=producter type='select' tableName='Producter' columnKey='ID' columnValue='ProducterName'
                                                data-style='btn-common' data-live-search='true' changeset=changeset}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2 title">Thông tin chung</div>
                <div class="col-md-10 content">
                  {{textarea value=note class='form-control'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="table-responsive">
              <table id="tableSellType" class="table table-bordred table-striped tabled-small">
                <thead>
                <th>Hình thức bán hàng</th>
                <th>Lãi suất(%)</th>
                <th>Lợi nhuận</th>
                </thead>
                <tbody>
                {{#each sellType as | item|}}
                  <tr>
                    <td>{{item.Name}}</td>
                    <td>{{format-number item.InterestRate format="###,###.#"}}</td>
                    <td>{{format-number item.Price format="###,###"}}</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-6 padding-right">
            <div class="table-responsive">
              <table id="tableSellUnit" class="table table-bordred table-striped tabled-small">
                <thead>
                  <th>STT</th>
                  <th>Chọn</th>
                  <th>Đơn vị</th>
                  <th>Quy đổi</th>
                </thead>
                <tbody>
                {{#each productUnit as | item index|}}
                  <tr>
                    <td>{{inc index}}</td>
                    <td>{{input type="checkbox" name=(concat "ckUnit" index) checked=(eq item.checked 'true')}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Exchange}}</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success btn-lg" {{action "saveEditCustomer"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Lưu</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{{common/modal-delete-form title="Xóa sản phẩm" apiUrl="delete-product" paramValue=productId pramName="productId" parent=this callback="searchProduct"}}
