<div class="main-body">
  <h1 class="box-title">Nhân viên</h1>
  <div class="main-content">
    <div class="box-button">
      <button class="btn btn-primary" {{action "search"}}><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
      <button class="btn btn-success" {{action "addStaff"}}><i class="glyphicon glyphicon-plus"></i> Thêm mới</button>
    </div>
    <form id="role-form">
      {{#if successMsg}}
        <div class="alert alert-success">{{successMsg}}</div>
      {{/if}}
      {{#if errorMsg}}
        <div class="alert alert-danger">{{errorMsg}}</div>
      {{/if}}
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
              <thead>
                <th>Tài Khoản</th>
                <th>Họ Tên</th>
                <th>Quyền hạn</th>
                <th>Chi tiết</th>
                <th>Ngày tạo</th>
                <th>Ngày cập nhật</th>
                <th>Sửa</th>
                <th>Xóa</th>
                <th></th>
              </thead>
              <tbody>
              {{#each resultSearch as | item|}}
                <tr>
                  <td>{{item.USER_NAME}}</td>
                  <td>{{item.FULL_NAME}}</td>
                  <td>{{item.RightName}}</td>
                  <td>{{item.DESCRIPTION}}</td>
                  <td>{{moment-format item.DATE_INSERT 'DD-MM-YYYY HH:mm:ss'}}</td>
                  <td>{{moment-format item.DATE_UPDATE 'DD-MM-YYYY HH:mm:ss'}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" data-title="Edit" {{action "editStaff" item.ID}}><span class="glyphicon glyphicon-pencil"></span></button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm" data-title="Delete" {{action "deleteStaff" item.ID}}><span class="glyphicon glyphicon-trash"></span></button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-success btn-sm" data-title="Delete" {{action "changePassword" item.ID}}>Đổi mật khẩu</button>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="edit-staff-form">
        <div class="modal-header">

          <h4 class="modal-title custom_align" id="Heading">Cập nhật thông tin nhân viên</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Tên đăng nhập</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="userName" changeset=changeset type='text' disabled=editForm}}
                </div>
              </div>
            </div>
          </div>
          {{#unless editForm}}
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Mật khẩu</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="password" changeset=changeset type='password'}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Mật khẩu lần 2</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="confirmPassword" changeset=changeset type='password'}}
                </div>
              </div>
            </div>
          </div>
          {{/unless}}
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Quyền nhân viên</div>
                <div class="col-md-8 content">
                  {{common/selectpicker-field fieldName="userRight" fieldValue=userRight type='select' tableName='Right' columnKey='ID' columnValue='RightName'
                     data-style='btn-common' data-live-search='false' changeset=changeset}}

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Mô tả</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="description" changeset=changeset type='text'}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Họ tên</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="fullName" changeset=changeset type='text'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success btn-lg" {{action "saveEditStaff"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Lưu</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="change-pass" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="change-pass-form">
        <div class="modal-header">

          <h4 class="modal-title custom_align" id="Heading">Đổi mật khẩu</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Mật khẩu</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="password" changeset=changeset type='password'}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 title">Mật khẩu lần 2</div>
                <div class="col-md-8 content">
                  {{common/text-field fieldName="confirmPassword" changeset=changeset type='password'}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success btn-lg" {{action "saveChangePassword"}} style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Lưu</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{{common/modal-delete-form title="Xóa quyền nhân viên" apiUrl="staff/delete-staff.php" paramValue=staffId pramName="staffId" parent=this callback="searchStaff"}}